*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.nav-content-footer {
    display: flex;
    flex-direction: row;

    flex: 1;
}

.content-footer {
    display: flex;
    flex-direction: column;

    flex: 1;
}

header {
    background-color: hsl(345deg 70% 50%);
}

nav {
    background-color: hsl(70deg 80% 60%);

    min-width: 2rem;
}

main {
    background-color: hsl(30deg 70% 60%);

    flex: 1;
}

footer {
    background-color: hsl(160deg 60% 50%);
}
